body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #FFFBF0;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Bebas Neue', cursive;

}

h1{
    font-size: 3.3rem;
}

p,
li{
    color: dimgray;
}

.space-for-navbar{
    margin-top: 86px;
}

img.responsive-image.header-logo {
    height: 54px;
}

.custom-search-bar {
    border: 2px solid #56ab2fcf;
    border-radius: 100vmax;
    background-color: #fff;
    padding: 9px 16px;
    display: flex;
    align-items: center;
}

.custom-search-bar select,
.custom-search-bar input#search-keyword,
.custom-search-bar button[type=submit] {
    background: none;
    border: none;
    outline: none;
    color: rgba(0,0,0,.55);
    font-size: 17px;
}

.searchbar-border{
    width: 2px;
    height: 20px;
    background-color: rgba(0, 0, 0, .55);
    margin: 0px 5px;
}

.custom-link-only-btn {
    color: #56ab2fcf;
    text-decoration: none;
    font-weight: bold;
    position: relative; /* Create a positioning context for the pseudo-element */
}

a.custom-link-only-btn::after {
    content: ""; /* Empty content for the pseudo-element */
    display: block; /* Allows the element to take up space */
    width: 100%; /* Full width of the link */
    height: 2px; /* Thickness of the border */
    background: #56ab2fcf; /* Same color as the link */
    position: absolute; /* Position it relative to the link */
    left: 0; /* Align to the left */
    bottom: 0px; /* Position below the text */
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.3s ease; /* Animation effect */
}

a.custom-link-only-btn:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}


.responsive-image {
    /* max-width: 70%; */
    height: auto;
    cursor: pointer;
}

.yellow-text{
    color: #FABE4C;
}

.green-text{
    color: #56ab2fcf;
}

.navy-text,
h5{
    color:rgb(72 80 160);
}

.navbar-nav a.nav-link {
    font-size: 19px;
}

section#home-hero-section {
    height: 100vh;
    background-image: url(./images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-wrapper{
    text-align: center;
}

.hero-content-wrapper h1 {
    font-size: 82px;
}

.hero-content-wrapper h2 {
    font-size: 36px;
}

.hero-content-wrapper h3 {
    font-size: 30px;
}

.hero-btn {
	display: inline-block;
	position: relative;
	padding: 16px 25px;
	background: #56ab2fcf;
	border-radius: 10px;
	text-decoration: none;
	overflow: hidden;
}

.hero-btn::after {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transform: scaleX(0);
	transform-origin: 100% 50%;
	background: #FABE4C;
	transition: transform .3s ease-in-out;
	-webkit-transition: transform .3s ease-in-out;
	position: absolute;
	content: "";
}


.hero-btn span {
	z-index: 1;
	position: relative;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.hero-btn:hover::after {
	transform: scaleX(1);
	transform-origin: 0% 50%;
}

.hero-btn.style-2 {
	overflow: visible;
	background: transparent;
	border: 2px solid #56ab2fcf;
	padding: 14px 30px;
}

.hero-btn.style-2 span {
	color: #56ab2fcf;
}

.hero-btn.style-2::after {
	background: #56ab2fcf;
}

.hero-btn.style-2:hover span {
	color: #fff;
}

.hero-btn.style-2:hover .icon::before {
	transform: scaleX(1);
	transform-origin: 0% 50%;
}

.hero-btn.style-3 {
	background: #56ab2fcf;
}

div#featured-category {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.watch-background {
  background-color: rgba(211, 211, 211, 0.26);
  border-radius: 1.4rem;
  margin: auto;
  overflow: hidden; /* Ensures the image stays within the rounded corners */
}

.watch-background img {
  transition: transform 0.4s ease; /* Smooth transition for zoom effect */
}

.watch-background:hover img {
  transform: scale(1.1); /* Scale up image to 110% on hover */
}

.custom-card{
    border: none;
    border-radius: 1.5rem;
}

.custom-card-footer{
    border: none;
    background: none;
}

.shoping-cart {
    width: 15%;
    margin-right: 10px;
}

.custom-primary-button {
  background: linear-gradient(45deg, #56ab2fcf, #a8e0639e, #56ab2fcf);
  background-size: 200%;
  background-position: left;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  width: fit-content;
  text-decoration: none;
  transition: background-position 0.4s ease;
  padding: 8px 16px;
}

.custom-primary-button:hover {
  background-position: right;
  color: #fff;
}


#other-font{
    font-family: 'Sacramento', cursive;
    font-weight: 600;
    color: #EA5E5D;
}

.footer-wrapper {
    background-color: rgb(72 80 160 / 6%);
    border-radius: 50px;
    position: relative;
    bottom: 70px;
    margin-top: 160px;
}

.footer-wrapper input {
    border: none;
    outline: none;
    padding: 2%;
    border-radius: .3rem;
    font-size: 13px;
}

.footer-bg {
    height: 27px;
    background-color: rgb(67 67 67);
}

.footer-bg small {
    color: #fff;
    font-size: 12px;
}

.page-headline h3 {
    letter-spacing:1px;
    transition: all 0.4s ease 0s;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.page-headline h3:after,
.page-headline h3:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #FABE4C;
    border-top: 1px solid #FABE4C;
    height: 5px;
    width: 10%;
    background-color:#f8f8f8;
}

#empbed-yt{
    width: 100%;
    height: 450px;
}

.sidebar-category{
    position: sticky;
    top: 134px;
    left: 0;
    z-index: 1;
}

div#category-list li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.develepor-info img {
    border-radius: 50px;
    margin: 0 auto;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.develepor-info{
    border: none;
    border-radius: 50px;
}